<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm" class="col-lg-8 offset-lg-2 mt-5">
                <h2>Editar experiencia laboral</h2>
                <div class="form-group mb-3">
                    <label for="titulo">Título</label>
                    <input type="text" class="form-control" name="titulo" id="titulo" [(ngModel)]="titulo" [required]="">
                </div>
                <div class="form-group mb-3">
                    <label for="institucion">Nombre de la institucion</label>
                    <input type="text" class="form-control" name="institucion" id="institucion" [(ngModel)]="institucion" required>
                </div>
                <div class="form-group mb-3">
                    <label for="fechaInicio">Fecha inicio</label>
                    <input type="text" class="form-control" name="fechaInicio" id="fechaInicio" [(ngModel)]="fechaInicio" required>
                </div>
                <div class="form-group mb-3">
                    <label for="fechaFin">Fecha fin</label>
                    <input type="text" class="form-control" name="fechaFin" id="fechaFin" [(ngModel)]="fechaFin" required>
                </div>
                <div class="buttons">
                    <button type="button" class="btn btn-primary btn-block volver" routerLink="/portfolio">Volver</button>
                    <button type="submit" class="btn btn-secondary btn-block agregar">Agregar</button>
                </div>
            </form>
        </div>   
    </div>
</div>